

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root { /*Etiqueta raíz para definir variables*/

    --tono: 330;
    --complemento: 190;

    --color-primario: hsla(var(--tono), 100%, 50%, 1);
    --color-primario-medio: hsla(var(--tono),100%, 75%, 1);
    --color-primario-claro: hsla(var(--tono),100%, 95%, 1);
    --color-primario-oscuro: hsla(var(--tono), 100%, 15%, 1);
    --color-primario-oscuro-medio: hsla(var(--tono), 30%, 40%, 1);
    
    --color-complemento: hsla(var(--complemento), 100%, 30%, 1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Kaisei Decol", system-ui;
}

ul {
    list-style: none;
}

.body{
    text-decoration: none;
    color: white;
    padding: 20px;
}
.titular{
    background-color: var(--color-primario);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    margin: 20px;
}
.navbar {
    background-color: var(--color-primario-oscuro);
    color:#3a003e;
    margin-top: 15px;
    border-radius: 12px;
    margin: 20px;
    align-items:center;
    flex-direction: row;
}
.navbar__nav--ul {

    display: flex;
    justify-content:space-evenly;
    margin: 20px;
    gap: 20px;
    padding: 20px;
    margin-top: 16px;

    :hover{
        border-radius: 30px;

        background-color: var(--color-primario);
    }
}
.navbar__nav--a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.navbar__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0px;
    margin: 20px;
    padding: 10px;
    color: var(--color-primario-oscuro);

    .navbar__ul--a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        padding: 20px;

       :hover{
        border-radius: 30px;
        
        background-color: var(--color-primario);
    }
        
    }
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    margin: 20px;
} 
.gallery__image{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}
.gallery__image img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.4s ease, opacity 0.4s ease;
    object-fit: cover;
}

/*imagen 1 grande*/

.gallery__image:first-child{
    grid-column: span 2;
    grid-row: span 2;
}
/*imagen 2, 3, 4, 5, 7, 8, 9, 10 pequeñas*/
.gallery__image :nth-child(2),
.gallery__image :nth-child(3),
.gallery__image :nth-child(5),
.gallery__image :nth-child(6),
.gallery__image :nth-child(7),
.gallery__image :nth-child(8),
.gallery__image :nth-child(9),
.gallery__image :nth-child(10) {
    grid-column: span 1;
    grid-row: span 1;
    height: 350px;
}
.gallery__image:nth-child(4) {
    grid-column: span 1;
    grid-row: span 2;  
    height: 350px;
}
.gallery__image:nth-child(11) {
    grid-column: span 2;
    
    height: 350px;
}
.gallery__image:nth-child(12) {
    grid-column: span 4;
    grid-row: span 1;
}


.gallery__image:hover img {
    transform: scale(1.5);  
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
}


@media (max-width: 1440px) and (min-width: 1024px){

    .navbar__nav--a {
        color: white;
        text-decoration: none;
        font-size: 30px;
    }
    .navbar__ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0px;
        margin: 20px;
        padding: 10px;
        color: var(--color-primario-oscuro);
    
        .navbar__ul--a{
            text-decoration: none;
            color: white;
            font-size: 30px;
            padding: 20px;
    
        }
    }

    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
    .gallery__image:first-child{
        grid-column: span 2;
        grid-row: span 2;
        height: 700px;
    }

    .gallery__image :nth-child(2),
    .gallery__image :nth-child(3),
    .gallery__image :nth-child(5),
    .gallery__image :nth-child(6),
    .gallery__image :nth-child(7),
    .gallery__image :nth-child(8),
    .gallery__image :nth-child(9),
    .gallery__image :nth-child(10){
        grid-row: span 1;
        grid-column: span 1;
        height: 350px;
    }
    .gallery__image:nth-child(4) {
        grid-column: span 1;
        grid-row: span 2;
        height: 715px;
    }
    .gallery__image:nth-child(11) {
        grid-column: span 1;
        grid-row: span 2;
        height: 350px;
    }
    .gallery__image:nth-child(12) {
        grid-column: span 3;
        grid-row: span 1;
        height: 350px;
    }
}


@media (max-width: 2560px) and (min-width: 1440px){

    .navbar__nav--a {
        color: white;
        text-decoration: none;
        font-size: 30px;
    }
    .navbar__ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0px;
        margin: 20px;
        padding: 10px;
        color: var(--color-primario-oscuro);
    
        .navbar__ul--a{
            text-decoration: none;
            color: white;
            font-size: 30px;
            padding: 20px;
    
        }
    }

    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
    .gallery__image:first-child{
        grid-column: span 2;
        grid-row: span 2;
        height: 700px;
    }

    .gallery__image :nth-child(2),
    .gallery__image :nth-child(3),
    .gallery__image :nth-child(5),
    .gallery__image :nth-child(6),
    .gallery__image :nth-child(7),
    .gallery__image :nth-child(8),
    .gallery__image :nth-child(9),
    .gallery__image :nth-child(10){
        grid-row: span 1;
        grid-column: span 1;
        height: 350px;
    }
    .gallery__image:nth-child(4) {
        grid-column: span 1;
        grid-row: span 2;
        height: 715px;
    }
    .gallery__image:nth-child(11) {
        grid-column: span 1;
        grid-row: span 2;
        height: 350px;
    }
    .gallery__image:nth-child(12) {
        grid-column: span 3;
        grid-row: span 1;
        height: 350px;
    }
}


@media (max-width: 1024px) and (min-width: 767px){

    .navbar__nav--a {
        color: white;
        text-decoration: none;
        font-size: 30px;
    }
    .navbar__ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0px;
        margin: 20px;
        padding: 10px;
        color: var(--color-primario-oscuro);
    
        .navbar__ul--a{
            text-decoration: none;
            color: white;
            font-size: 30px;
            padding: 20px;
    
        }
    }

    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
    .gallery__image:first-child{
        grid-column: span 2;
        grid-row: span 2;
        height: 700px;
    }

    .gallery__image :nth-child(2),
    .gallery__image :nth-child(3),
    .gallery__image :nth-child(5),
    .gallery__image :nth-child(6),
    .gallery__image :nth-child(7),
    .gallery__image :nth-child(8),
    .gallery__image :nth-child(9),
    .gallery__image :nth-child(10){
        grid-row: span 1;
        grid-column: span 1;
        height: 350px;
    }
    .gallery__image:nth-child(4) {
        grid-column: span 1;
        grid-row: span 2;
        height: 715px;
    }
    .gallery__image:nth-child(11) {
        grid-column: span 1;
        grid-row: span 2;
        height: 350px;
    }
    .gallery__image:nth-child(12) {
        grid-column: span 3;
        grid-row: span 1;
        height: 350px;
    }
}

@media (max-width: 767px) {
    .titular{
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .navbar__nav--ul {

        display: flex;
        justify-content:space-evenly;
        margin: 20px;
        gap: 20px;
        padding: 20px;
        margin-top: 16px;
    
        
    }
    .navbar__nav--a {
        color: white;
        text-decoration: none;
        font-size: 24px;
    }
    .navbar__ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 0px;
        margin: 20px;
        padding: 10px;
        color: var(--color-primario-oscuro);
    
        .navbar__ul--a{
            display: flex;
            text-decoration: none;
            color: white;
            font-size: 24px;
            padding: 40px;
    
           :hover{
            border-radius: 30px;
            
            background-color: var(--color-primario);
        }
            
        }
    }

    .gallery{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 15px;
    }
    .gallery__image{
        height: 350px;
        grid-column: span 1;
        grid-row: span 1;
    }

    .gallery__image:first-child{
        grid-column: span 1;
        grid-row: span 2;
        height: 710px;
    }
    
    .gallery__image:nth-child(2),
    .gallery__image:nth-child(3),
    .gallery__image:nth-child(4),
    .gallery__image:nth-child(5),
    .gallery__image:nth-child(6),
    .gallery__image:nth-child(7),
    .gallery__image:nth-child(8),
    .gallery__image:nth-child(9),
    .gallery__image:nth-child(10),
    .gallery__image:nth-child(12){
        grid-column: span 1;
        grid-row: span 1;
    }

    .gallery__image:nth-child(11){
        grid-column: span 1;
        grid-row: span 2;
        height: 710px;
    }
}

